@{
    ViewData["PageTitle"] = "Recent Transactions";
}

<div class="row">
    <div class="col-md-12">
        <div class="widget">
            <div class="p-4">
                <h5 class="fw-bold">Recent Transactions</h5>
            </div>
            <div class="px-4 pb-4">
                <ejs-grid id="recent-transactions" dataSource="@ViewBag.RecentTrasactions" gridLines="None">
                    <e-grid-columns>
                        <e-grid-column headerText="Category" field="CategoryTitleWithIcon"></e-grid-column>
                        <e-grid-column headerText="Date" field="Date" type="date" format="MMM-dd-yy"></e-grid-column>
                        <e-grid-column headerText="Amount" field="FormatedAmount" textAlign="Right"></e-grid-column>
                    </e-grid-columns>

                </ejs-grid>
            </div>
        </div>
    </div>
</div>
